SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[CartItemID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import](
	[ImportID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportDetail]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportDetail](
	[ImportDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ImportID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ImportPrice] [decimal](18, 0) NOT NULL,
	[SubTotal]  AS ([Quantity]*[ImportPrice]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[ImportDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipHistory]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FromLevelID] [int] NULL,
	[ToLevelID] [int] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipLevel]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipLevel](
	[LevelID] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](50) NOT NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
	[MinSpent] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 0) NULL,
	[Status] [int] NULL,
	[OrderCode] [varchar](30) NULL,
	[CustomerName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[Image] [nvarchar](500) NULL,
	[Subtotal] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Status] [int] NULL,
	[transactionCode] [nvarchar](255) NULL,
	[createdDate] [datetime] NULL,
	[note] [nvarchar](255) NULL,
	[paymentCode] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PendingUserRegistration]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendingUserRegistration](
	[PendingID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[RoleID] [int] NOT NULL,
	[OtpCode] [nvarchar](10) NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PendingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Status] [int] NULL,
	[Image] [nvarchar](255) NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[PromotionPrice] [decimal](18, 0) NULL,
	[VAT] [decimal](5, 2) NULL,
	[Quantity] [int] NULL,
	[Warranty] [int] NULL,
	[IsHot] [bit] NULL,
	[Description] [nvarchar](500) NULL,
	[ViewCount] [int] NULL,
	[CategoryID] [int] NOT NULL,
	[BrandID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetail]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetail](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[RAM] [nvarchar](50) NULL,
	[Storage] [nvarchar](50) NULL,
	[CPU] [nvarchar](100) NULL,
	[Screen] [nvarchar](100) NULL,
	[Battery] [nvarchar](50) NULL,
	[Camera] [nvarchar](200) NULL,
	[OS] [nvarchar](100) NULL,
	[ChargingSpeed] [nvarchar](50) NULL,
	[Connectivity] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ImageUrl] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15/05/2026 10:00:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[RoleID] [int] NOT NULL,
	[LevelID] [int] NULL,
	[TotalSpent] [decimal](18, 0) NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[Gender] [nvarchar](20) NULL,
	[BirthDate] [date] NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandID], [Name]) VALUES (2, N'Apple')
INSERT [dbo].[Brand] ([BrandID], [Name]) VALUES (7, N'Honor')
INSERT [dbo].[Brand] ([BrandID], [Name]) VALUES (5, N'Huawei')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [UserID], [CreatedDate]) VALUES (1, 10, CAST(N'2026-05-12T22:04:32.100' AS DateTime))
INSERT [dbo].[Cart] ([CartID], [UserID], [CreatedDate]) VALUES (2, 14, CAST(N'2026-05-13T00:19:47.363' AS DateTime))
INSERT [dbo].[Cart] ([CartID], [UserID], [CreatedDate]) VALUES (3, 2, CAST(N'2026-05-13T21:52:05.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Name]) VALUES (1, N'Điện thoại')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [ProductID], [Rating], [Comment], [CreatedDate]) VALUES (3, 10, 102, 5, N'Sản phẩm siêu tốt,ngon giá ổn.Shop nhiệt tình nhân viên đẹp trai.Iu', CAST(N'2026-05-13T23:07:30.113' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [ProductID], [Rating], [Comment], [CreatedDate]) VALUES (4, 2, 102, 1, N'Ghét thg tên Khiêm nên đánh giá 1sao', CAST(N'2026-05-13T23:07:59.300' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [ProductID], [Rating], [Comment], [CreatedDate]) VALUES (5, 10, 309, 5, N'Admin đẹp trai vãi', CAST(N'2026-05-15T20:49:16.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Import] ON 

INSERT [dbo].[Import] ([ImportID], [SupplierID], [CreatedDate], [TotalAmount], [Note], [Status]) VALUES (1, 1, CAST(N'2026-05-15T16:51:51.997' AS DateTime), CAST(180000000 AS Decimal(18, 0)), N'Nhập hàng test lần 1', N'CANCELLED')
INSERT [dbo].[Import] ([ImportID], [SupplierID], [CreatedDate], [TotalAmount], [Note], [Status]) VALUES (2, 5, CAST(N'2026-05-15T16:54:16.257' AS DateTime), CAST(36000000 AS Decimal(18, 0)), N'Nhập hàng test lần 1', N'COMPLETED')
INSERT [dbo].[Import] ([ImportID], [SupplierID], [CreatedDate], [TotalAmount], [Note], [Status]) VALUES (3, 5, CAST(N'2026-05-15T16:58:15.093' AS DateTime), CAST(18000000 AS Decimal(18, 0)), N'Nhập hàng test lần 1', N'CANCELLED')
SET IDENTITY_INSERT [dbo].[Import] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportDetail] ON 

INSERT [dbo].[ImportDetail] ([ImportDetailID], [ImportID], [ProductID], [Quantity], [ImportPrice]) VALUES (1, 1, 1, 10, CAST(18000000 AS Decimal(18, 0)))
INSERT [dbo].[ImportDetail] ([ImportDetailID], [ImportID], [ProductID], [Quantity], [ImportPrice]) VALUES (2, 2, 2, 2, CAST(18000000 AS Decimal(18, 0)))
INSERT [dbo].[ImportDetail] ([ImportDetailID], [ImportID], [ProductID], [Quantity], [ImportPrice]) VALUES (3, 3, 2, 1, CAST(18000000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ImportDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[MembershipHistory] ON 

INSERT [dbo].[MembershipHistory] ([HistoryID], [UserID], [FromLevelID], [ToLevelID], [UpdatedAt]) VALUES (1, 4, 1, 3, CAST(N'2026-05-15T21:15:39.803' AS DateTime))
SET IDENTITY_INSERT [dbo].[MembershipHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[MembershipLevel] ON 

INSERT [dbo].[MembershipLevel] ([LevelID], [LevelName], [DiscountPercent], [MinSpent]) VALUES (1, N'Đồng', CAST(0.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[MembershipLevel] ([LevelID], [LevelName], [DiscountPercent], [MinSpent]) VALUES (2, N'Bạc', CAST(3.00 AS Decimal(5, 2)), CAST(20000000.00 AS Decimal(18, 2)))
INSERT [dbo].[MembershipLevel] ([LevelID], [LevelName], [DiscountPercent], [MinSpent]) VALUES (3, N'Vàng', CAST(5.00 AS Decimal(5, 2)), CAST(50000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[MembershipLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [UserID], [CreatedDate], [TotalAmount], [Status], [OrderCode], [CustomerName], [Phone], [Address], [PaymentMethod]) VALUES (1, 10, CAST(N'2026-05-12T22:06:07.900' AS DateTime), CAST(27990000 AS Decimal(18, 0)), 4, N'OD1778598367899', N'KhiemNgu', N'01234567890321', N'dsadsa', N'VNPAY')
INSERT [dbo].[Order] ([OrderID], [UserID], [CreatedDate], [TotalAmount], [Status], [OrderCode], [CustomerName], [Phone], [Address], [PaymentMethod]) VALUES (2, 10, CAST(N'2026-05-12T22:06:34.640' AS DateTime), CAST(27990000 AS Decimal(18, 0)), 3, N'OD1778598394639', N'KhiemNgu', N'0123456789', N'dsadsa', N'COD')
INSERT [dbo].[Order] ([OrderID], [UserID], [CreatedDate], [TotalAmount], [Status], [OrderCode], [CustomerName], [Phone], [Address], [PaymentMethod]) VALUES (3, 10, CAST(N'2026-05-12T22:08:24.433' AS DateTime), CAST(27990000 AS Decimal(18, 0)), 4, N'OD1778598504431', N'KhiemNgu', N'0123456789', N'dsadsa', N'VNPAY')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price], [ProductName], [Image], [Subtotal]) VALUES (1, 1, 94, 1, CAST(27990000 AS Decimal(18, 0)), N'iPhone 17 256GB', N'/img/phones/iphone/iPhone 17 256GB.webp', CAST(27990000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price], [ProductName], [Image], [Subtotal]) VALUES (2, 2, 94, 1, CAST(27990000 AS Decimal(18, 0)), N'iPhone 17 256GB', N'/img/phones/iphone/iPhone 17 256GB.webp', CAST(27990000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price], [ProductName], [Image], [Subtotal]) VALUES (3, 3, 94, 1, CAST(27990000 AS Decimal(18, 0)), N'iPhone 17 256GB', N'/img/phones/iphone/iPhone 17 256GB.webp', CAST(27990000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Method], [Amount], [PaymentDate], [Status], [transactionCode], [createdDate], [note], [paymentCode]) VALUES (1, 1, N'VNPAY', CAST(27990000 AS Decimal(18, 0)), NULL, 2, NULL, CAST(N'2026-05-12T22:06:07.950' AS DateTime), N'Thanh toán thất bại', N'TT00001')
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Method], [Amount], [PaymentDate], [Status], [transactionCode], [createdDate], [note], [paymentCode]) VALUES (2, 2, N'COD', CAST(27990000 AS Decimal(18, 0)), CAST(N'2026-05-12T22:07:02.073' AS DateTime), 1, NULL, CAST(N'2026-05-12T22:06:34.653' AS DateTime), N'COD đã thanh toán', N'TT00002')
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [Method], [Amount], [PaymentDate], [Status], [transactionCode], [createdDate], [note], [paymentCode]) VALUES (3, 3, N'VNPAY', CAST(27990000 AS Decimal(18, 0)), CAST(N'2026-05-12T22:08:32.170' AS DateTime), 1, N'TXN1778598512172', CAST(N'2026-05-12T22:08:24.443' AS DateTime), N'Thanh toán thành công', N'TT00003')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetail] ON 

INSERT [dbo].[ProductDetail] ([DetailID], [ProductID], [RAM], [Storage], [CPU], [Screen], [Battery], [Camera], [OS], [ChargingSpeed], [Connectivity]) VALUES (1, 1, N'6GB/8GB', N'128GB', N'Kirin 980', N'6.39 inch AMOLED', N'3500mAh', N'24MP', N'Android 12 + EMUI 12', N'18W', N'4G LTE, WiFi 5, Bluetooth 5.0, USB-C')
INSERT [dbo].[ProductDetail] ([DetailID], [ProductID], [RAM], [Storage], [CPU], [Screen], [Battery], [Camera], [OS], [ChargingSpeed], [Connectivity]) VALUES (2, 2, N'12GB', N'512GB', N'Snapdragon 8 Gen 2', N'6.81 inch OLED 120Hz', N'5100mAh', N'50MP', N'Android 13 + EMUI 13', N'66W', N'4G LTE, WiFi 5, Bluetooth 5.0, USB-C, NFC')
INSERT [dbo].[ProductDetail] ([DetailID], [ProductID], [RAM], [Storage], [CPU], [Screen], [Battery], [Camera], [OS], [ChargingSpeed], [Connectivity]) VALUES (3, 3, N'8GB/12GB', N'256GB', N'Snapdragon 8 Gen 2', N'6.73 inch OLED 120Hz', N'5100mAh', N'54MP', N'Android 13 + EMUI 13', N'66W', N'4G LTE, WiFi 5, Bluetooth 5.0, USB-C, NFC')
GO
SET IDENTITY_INSERT [dbo].[ProductDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'ADMIN')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'USER')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [Name], [Phone], [Address], [Email], [Status], [CreatedDate], [UpdatedDate]) VALUES (1, N'FPT Shop', N'1800 6601', N'261 Cách Mạng Tháng 8, Phường 10, Quận 3, TP. Hồ Chí Minh', N'fptshop@gmail.com', N'ACTIVE', CAST(N'2026-05-15T16:18:30.877' AS DateTime), CAST(N'2026-05-15T17:15:01.603' AS DateTime))
INSERT [dbo].[Supplier] ([SupplierID], [Name], [Phone], [Address], [Email], [Status], [CreatedDate], [UpdatedDate]) VALUES (2, N'Thế Giới Di Động', N'1800 1060', N'191 Điện Biên Phủ, Phường 6, Quận 3, TP. Hồ Chí Minh', N'thegioididong@gmail.com', N'ACTIVE', CAST(N'2026-05-15T16:18:30.877' AS DateTime), CAST(N'2026-05-15T17:15:11.337' AS DateTime))
INSERT [dbo].[Supplier] ([SupplierID], [Name], [Phone], [Address], [Email], [Status], [CreatedDate], [UpdatedDate]) VALUES (3, N'CellphoneS', N'1800 2097', N'350-352 Võ Văn Kiệt, Phường Cầu Ông Lãnh, Quận 1, TP. Hồ Chí Minh', N'cellphones@gmail.com', N'ACTIVE', CAST(N'2026-05-15T16:18:30.877' AS DateTime), CAST(N'2026-05-15T17:15:22.810' AS DateTime))
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [RoleID], [LevelID], [TotalSpent], [Status], [CreatedDate], [Gender], [BirthDate], [Address]) VALUES (1, N'NgToan', N'$2a$10$8kKaV.D5cSOK5OyKckdnpOMbeLqCYAsFmg.aaqgeFbkxIzcL.tCSm', N'Dang Tran Ngoc Toan', N'ngtoan@gmail.com', N'0123456789', 1, 1, CAST(0 AS Decimal(18, 0)), 1, CAST(N'2026-04-05T15:56:26.627' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[User] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [RoleID], [LevelID], [TotalSpent], [Status], [CreatedDate], [Gender], [BirthDate], [Address]) VALUES (2, N'MinhBeo', N'$2a$10$eKiDebTDG1Oq.SCycGBk/uEJhRSZURGjoPryNV3J74W/Jnr.BZrVu', N'Lữ Quang Minh ', N'minhupdated@gmail.com', N'0900000000', 2, 4, CAST(115980000 AS Decimal(18, 0)), 1, CAST(N'2026-04-05T15:57:35.817' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[User] ([UserID], [Username], [Password], [FullName], [Email], [Phone], [RoleID], [LevelID], [TotalSpent], [Status], [CreatedDate], [Gender], [BirthDate], [Address]) VALUES (3, N'Bobao', N'$2a$10$7SK1SSrVRHEjNzkJVXFEiexltC2dRwvUaSiFsxm2GgeaQKtND.lV.', N'Bo chu ngo', N'bobao@gmail.com', N'0123456789', 2, 1, CAST(0 AS Decimal(18, 0)), 1, CAST(N'2026-04-05T15:58:31.363' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Brand__737584F6A0F6CF14]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[Brand] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Cart_Product]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[CartItem] ADD  CONSTRAINT [UQ_Cart_Product] UNIQUE NONCLUSTERED 
(
	[CartID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__737584F62E28475C]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_User_Product]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [UQ_User_Product] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Membersh__9EF3BE7BFFEDDAC3]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[MembershipLevel] ADD UNIQUE NONCLUSTERED 
(
	[LevelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MembershipLevel_LevelName]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[MembershipLevel] ADD  CONSTRAINT [UQ_MembershipLevel_LevelName] UNIQUE NONCLUSTERED 
(
	[LevelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Order_Product]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[OrderDetail] ADD  CONSTRAINT [UQ_Order_Product] UNIQUE NONCLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Payment_OrderID]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [UQ_Payment_OrderID] UNIQUE NONCLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PendingUserRegistration_Email]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[PendingUserRegistration] ADD  CONSTRAINT [UQ_PendingUserRegistration_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PendingUserRegistration_Username]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[PendingUserRegistration] ADD  CONSTRAINT [UQ_PendingUserRegistration_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ProductD__B40CC6ECF98CC8BF]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[ProductDetail] ADD UNIQUE NONCLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B616049D26912]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E4DB9FBC0F]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534C81383D3]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_email]    Script Date: 15/05/2026 10:00:11 CH ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ_email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Import] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Import] ADD  CONSTRAINT [DF_Import_Status]  DEFAULT ('COMPLETED') FOR [Status]
GO
ALTER TABLE [dbo].[MembershipHistory] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MembershipLevel] ADD  DEFAULT ((0)) FOR [MinSpent]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_PaymentMethod]  DEFAULT ('COD') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[PendingUserRegistration] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((10)) FOR [VAT]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((12)) FOR [Warranty]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [IsHot]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Supplier] ADD  CONSTRAINT [DF_Supplier_Status]  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Supplier] ADD  CONSTRAINT [DF_Supplier_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [TotalSpent]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([CartID])
REFERENCES [dbo].[Cart] ([CartID])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Import]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Import]  WITH CHECK ADD  CONSTRAINT [FK_Import_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Import] CHECK CONSTRAINT [FK_Import_Supplier]
GO
ALTER TABLE [dbo].[ImportDetail]  WITH CHECK ADD FOREIGN KEY([ImportID])
REFERENCES [dbo].[Import] ([ImportID])
GO
ALTER TABLE [dbo].[ImportDetail]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ImportDetail]  WITH CHECK ADD  CONSTRAINT [FK_ImportDetail_Import] FOREIGN KEY([ImportID])
REFERENCES [dbo].[Import] ([ImportID])
GO
ALTER TABLE [dbo].[ImportDetail] CHECK CONSTRAINT [FK_ImportDetail_Import]
GO
ALTER TABLE [dbo].[ImportDetail]  WITH CHECK ADD  CONSTRAINT [FK_ImportDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ImportDetail] CHECK CONSTRAINT [FK_ImportDetail_Product]
GO
ALTER TABLE [dbo].[MembershipHistory]  WITH CHECK ADD  CONSTRAINT [FK_MembershipHistory_FromLevel] FOREIGN KEY([FromLevelID])
REFERENCES [dbo].[MembershipLevel] ([LevelID])
GO
ALTER TABLE [dbo].[MembershipHistory] CHECK CONSTRAINT [FK_MembershipHistory_FromLevel]
GO
ALTER TABLE [dbo].[MembershipHistory]  WITH CHECK ADD  CONSTRAINT [FK_MembershipHistory_ToLevel] FOREIGN KEY([ToLevelID])
REFERENCES [dbo].[MembershipLevel] ([LevelID])
GO
ALTER TABLE [dbo].[MembershipHistory] CHECK CONSTRAINT [FK_MembershipHistory_ToLevel]
GO
ALTER TABLE [dbo].[MembershipHistory]  WITH CHECK ADD  CONSTRAINT [FK_MembershipHistory_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[MembershipHistory] CHECK CONSTRAINT [FK_MembershipHistory_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetail] CHECK CONSTRAINT [FK_ProductDetail_Product]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([LevelID])
REFERENCES [dbo].[MembershipLevel] ([LevelID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Import]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[ImportDetail]  WITH CHECK ADD CHECK  (([ImportPrice]>=(0)))
GO
ALTER TABLE [dbo].[ImportDetail]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ImportDetail]  WITH CHECK ADD  CONSTRAINT [CK_ImportDetail_ImportPrice] CHECK  (([ImportPrice]>(0)))
GO
ALTER TABLE [dbo].[ImportDetail] CHECK CONSTRAINT [CK_ImportDetail_ImportPrice]
GO
ALTER TABLE [dbo].[ImportDetail]  WITH CHECK ADD  CONSTRAINT [CK_ImportDetail_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ImportDetail] CHECK CONSTRAINT [CK_ImportDetail_Quantity]
GO
ALTER TABLE [dbo].[MembershipLevel]  WITH CHECK ADD CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([PromotionPrice]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
USE [master]
GO
